.card:hover {
    box-shadow: 0 0 40px #a0a0a0;
    cursor: pointer;
    transition: 0.5s;
}

.card {
    border-radius: 0.5rem;
    margin: 40px;
}

.card-title {
    margin-top: 4%;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
}

div:focus {
    outline: none;
}

.card-img {
    margin-top: 5px;
}
